*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

.container{
    width: 900px;
    margin: 0 auto;
}


/* Regola generale per etichette */
.label{
    background-color: rgba(155, 150, 150, 0.3);
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px;
    border-radius: 10%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -8px; */
}

.row.between{
    justify-content: space-between;
    /* padding: 15px 0; */
}

[class^="col"]{
    padding: 5px 8px;
} 

/* Regole per generali per lista di icone */
.list{
    display: flex;
    align-items: center;
    text-align: center;
}

.list > li{
    margin-left: 10px;
    padding: 8px 0;
}

.list i{
    font-size: 24px;
    margin-bottom: 8px;
}

/* DEBUG */

/* .debug .col{
     padding: 10px;
    border: 3px solid white;
} */

/* MAIN */

.main-content{
    height: 100vh;
    /* Serve a nascondere eventuali elementi che fuoriescono dalla pagina */
    overflow: hidden;
    background-color: black;
    color: white;
    padding-top: 60px;
    /* Li utilizzo per dare una dimensione alle due sezioni */
    display: flex;
    flex-direction: column;
}

/* SECTION IMAGES */


.row.view{
    justify-content: flex-end;
    /* Meglio usare fixed invece di absolute perchè non stiamo sovrapponendo nessun elemento */
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}

.label.speaker::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f58d";
    margin-right: 5px;
}

.section-images{
    /* height: calc(100% - 80px); */
    /* Non do dimensione ma gli dico di prendere tutto lo spazio rimanente */
    flex-grow: 1;
}

.preview{
    position: relative;
}

.preview-img{
    background-size: contain;
    background-position: center;
}

.user{
    position: absolute;
    left: 0;
    bottom: 0;
}

.user::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f131";
    margin-right: 5px;
}

.row-col-7 > [class^="col"]{
flex-basis: calc(100% / 7);
}

/* .row-col-7{
    gap: 8px;
} */

/* SECTION ICONS */

.section-icons{
    /* height: 80px; */
    background-color: grey;
}

.green{
    color: green;
}

.col.end{
    /* Mi serve per fare in modo che il pulsante si adatti alla barra  */
    /* avendo usato align-item=center per allinare gli elementi della lista */
    /* align-self: stretch */
    align-self: center;
}

